<!doctype html>
<title>MCC</title>

<link rel="stylesheet" href="./styles.css">
<link rel="stylesheet" href="../common/styles.css">
<link rel="stylesheet" href="libs/normalize.css">

<script src="libs/pixi.js"></script>
<script src="libs/socket.io.js"></script>
<script src="libs/vue.js"></script>

<script src="js/main.js" type="module"></script>

<div id="app">
  <div class="editor-area">

    <div class="editor-area__content-container">
      <img :src="testImgSrc">
    </div>

    <device-image
      v-for="d in devices"
      :key="d.id"
      :device="d"
      :selected="d === selectedDevice"
      @device-click="onDeviceClick"
    >
    </device-image>

  </div>

  <scale-setter
    v-if="selectedDevice"
    :device="selectedDevice"
    :socket="socket"
    @device-update="onDeviceUpdate"
  ></scale-setter>

</div>
