* {
    box-sizing: border-box;
}

.device-buttons {
    position: absolute;
}

.editor-area {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 1024px;
    height: 768px;
    border: 1px dashed black;
}
