* {
    box-sizing: border-box;
}

.device-buttons {
    position: absolute;
}

.editor-area {
    position: absolute;
    overflow: hidden;
    top: 50px;
    left: 50px;
    width: 1920px;
    height: 1080px;
}

.editor-area__content-container {
    pointer-events: none;
}

.device-drag {
    position: absolute;
    border: 5px dotted red;
}
